@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bitter', sans-serif;
}

body.ReactModal__Body--open {
  overflow: hidden;
}

.inputform{
font-weight: 400;
font-size: 13px;
line-height: 142%;
/* identical to box height, or 18px */
display: flex;
align-items: center;

color: #FFFFFF;

opacity: 0.5;
}

.marfont{
  font-family: 'Bitter';
  font-style: normal;
  line-height: 21.3px;
  
  color: #FFFFFF;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .c3col{
      width:25%;
  }
  .min-height-content {
    min-height: calc(100vh - 389px);
  }
}
@media screen and (max-width: 767px) {
  .c3col{
      width:50%;
  }
  
}